body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background: url(/cafeteria/img/foto-login.jpg);
  background-size: cover;
  background-position: center;
}

.login-container {
  background: #6f4e37;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  width: 300px;
}

h2 {
  color: #fff;
  text-align: center;
  margin-bottom: 15px;
}

label {
  display: block;
  margin: 5px 0 2px;
  color: #fff;
}

input {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid #6f4e37;
  border-radius: 5px;
}

button {
  width: 100%;
  padding: 0.7rem;
  background-color: #d2691e;
  color: #fff;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #a0522d;
}

.error {
  color: red;
  text-align: center;
}
