<nav class="navbar">
    <div class="logo">
      <img src="/cafeteria/img/haoma-logo.jpg" alt="logo" class="logo-img">
      <span>Haoma CaféBar</span>
    </div>
  
    <ul class="nav-links">
      <li><a href="index.html">Inicio</a></li>
      <li><a href="#productos">Productos</a></li>
      <li><a href="#">Menú</a></li>
      <li><a href="#">Promociones</a></li>
      <li><a href="#">Contacto</a></li>
    </ul>
  
    <div class="nav-icons">
      <a href="login.html" title="Iniciar sesión"><i class="fa-solid fa-user"></i></a>
      <a href="#" title="Carrito"><i class="fa-solid fa-cart-shopping"></i></a>

      <button class="menu-toggle" onclick="toggleSidebar()">
        <i class="fa-solid fa-bars"></i>
      </button>
    </div>

  </nav>

  <section class="header">
    <div class="header-content">
      <h1>Bienvenido a la mejor cafetería de Ocaña</h1>
      <p>El mejor espacio para compartir con tus personas favoritas</p>
      <a href="#productos" class="btn">Haz tu pedido</a>
    </div>
  </section>

  <main id="productos" class="productos-section">
    <h2>Nuestros Productos</h2>
    <h2>cafés</h2>
    <div id="product-list" class="productos-grid"></div>
  </main>
  