
<footer class=" text-light pt-4">
  <div class="container text-center text-md-start">
    <div class="row">

      
      <div class="col-md-4 mb-3">
        <h5 class="fw-bold">Haoma caféBar</h5>
        <p class="small">Un rincón acogedor donde cada taza cuenta una historia.  
          Disfruta de café de especialidad, postres artesanales y un ambiente único para compartir momentos.</p>
      </div>

      <div class="col-md-4 mb-3">
        <h5 class="fw-bold">Enlaces</h5>
        <ul class="list-unstyled">
          <li><a href="#" class="text-light text-decoration-none">Inicio</a></li>
          <li><a href="#" class="text-light text-decoration-none">Servicios</a></li>
          <li><a href="#" class="text-light text-decoration-none">Contacto</a></li>
        </ul>
      </div>

      <div class="col-md-4 mb-3 text-center">
        <h5 class="fw-bold">Síguenos</h5>
        <a href="https://www.facebook.com/haomacafebar?locale=es_LA" class="text-light me-3 fs-4"><i class="bi bi-facebook"></i></a>
        <a href="https://www.instagram.com/haomacafebar/?hl=es" class="text-light me-3 fs-4"><i class="bi bi-instagram"></i></a>
      </div>
    </div>
  </div>

  <div class="text-center py-3 border-top border-secondary mt-3">
    <small>© 2025 Haoma caféBar - Todos los derechos reservados</small>
  </div>
</footer>
